.card-group-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 2rem 2rem;
    gap: 1.5rem;
    min-height: calc(100vh - 167px);
}

.card-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.card-group-title-icon {
    display: grid;
    place-items: center;
}

.card-group-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card-group-title-text {
    font-size: 16px;
    color: #1f2937;
    font-weight: 500;
}

.card-group-title-number {
    color: #6b7280;
}

.card-group-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #6b7280;
}

.card-group-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .card-group-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .card-group-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1500px) {
    .card-group-container {
        grid-template-columns: repeat(4, 1fr);
    }
}